/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

div#vfb-entries-body-content {
  font-family: serif; !important;
}

div#vfb-entries-body-content table tbody tr td[style] {
  border-width: 0px !important;
  background: none !important;
}

div#vfb-entries-body-content table tbody tr th{
	padding-top: 10px; !important;
}

div#vfb-entries-body-content table tbody tr td{
	padding-top: 10px; !important;
}

@media print {
#side-info-column {
	display: none;
}

}

h3{
	padding: 0px; !important;
}

@page
{
  margin: 25mm 25mm 25mm 25mm;
}
