/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

div#vfb-entries-body-content {
  font-family: serif; !important;
}

div#vfb-entries-body-content table tbody tr td[style] {
  border-width: 0px !important;
  background: none !important;
}
